/* front page slider styles */
div.slide-text h2 {
	font-size: 28px;
	letter-spacing: -0.25px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
}

div#jFlowSlide {
	margin:0 auto;
}

div#slides-container {
	height: 260px;
	overflow: hidden; 
	width: 885px; 	
	padding: 10px 10px 0px 10px;
	background: #fff;
}

div#slides-container div#jFlowSlide {
	height: 260px;
	margin-top: 10px;
}

div#slides-container div.jFlowSlideContainer img {
	margin:auto;
}

div#slides-container div.jFlowSlideContainer div {
}

div#slides-container div.jFlowSlideContainer div.slide-image {
	float:left;
	width: 370px;
	padding-top: 0px;
	padding-left: 30px;
}

span.jFlowPrev, span.jFlowNext {
	background-image:url('images/slide-prev.png');
	background-repeat:no-repeat;
	display:block;
	height:41px;
	width:24px;
	float:left;
	margin:0;
	cursor:pointer;
}

span.jFlowPrev span, span.jFlowNext span { display:none; }

span.jFlowNext {
	background-image:url('images/slide-next.png');
	float:right;
	padding: 0;
}

div#slides-container div.controls {
	position:relative;
	top:-130px;
	width:845px;
	margin:0 auto;
}

div#slides-container p {
	padding-top: 10px;
	color: #000;
}

div#slides-container a {
	color: #000;
}

div#slides-container h2, div#sub-header h2 {
	font-family: 'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	color: #000;
	text-shadow: 1px 1px #fff;
	font-weight: normal;
}

/*div.algo {
	width:885px;
}*/

div.slide-text {
	width:800px;
	padding-top: 10px;
}

div.slide-text-only {
	width:750px;
	padding-top: 10px;
	padding-left: 30px;
}

.hidden { display:none;  }